---
layout: "page"
title: "home"
cmd: "cat /etc/motd"
---

<section>
  {% include header.html primary="whoami" %}

  <main>
    <p> Hi. I'm Chris Gadzinski; programmer and math enthusiast, among other things. </p>
    <p> Welcome to my small personal site. </p>
  </main>
</section>

<section>
  {% include header.html primary="contact" %}

  <main>
    <p> I use various forms of internet communication. </p>
    <div class="wrapper-2">
      <div class="column">
        <div class="box">
          skype: magnetic.duck
        </div>
        <a class="box" href="mailto:zenmags@gmail.com">
          email: zenmags@gmail.com
        </a>
      </div>
      <div class="column">
        <a class="box" href="http://github.com/magneticduck">
          github: MagneticDuck
        </a>
        <div class="box">
          irc: magneticduck@irc.freenode.net
        </div>
      </div>
    </div>
  </main>
</section>
