#footer {
  background-color: #212121;
  padding: 10px;
	padding-bottom: 15px;
  overflow: hidden;
}

#footer dl {
  font-size: 15px;
  color: white;
  padding: 0px;
  display: inline-block;
  padding-top: 7px;
  margin: 0px;
}

#footer dl dt {
  display: inline;
}

#footer dl dd {
  display: inline;
  margin: 0px;
  margin-right: 20px;
  color: #AEACAC;
}

#footer dl dd a {
  text-decoration: none;
  color: #AEACAC; 
}

#footer img#wwwicon {
  float: right;
  display: block;
}
