/* outside #contents */

body {
  font-family: sans-serif; 
  padding: 0px; margin: 0px;
  background-image: url(/images/textures/background.png);
	background-attachment: fixed

}

#outer-contents {
  max-width: 1000px;
  margin: auto;
}

#page-title {
  padding-top: 50px;
  padding-bottom: 60px;
  
  text-align: center;
  font-size: 30px;
  color: #93A7FF;
  font-family: monospace;
}

#page-title .accent {
  color: white;
}

/* inside #contents */

#contents {
  margin: 0px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  min-height: 750px;
  font-size: 17px;
  padding-bottom: 50px;
}

#contents .head {
  overflow: hidden;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
} 

/* inside section */

section {
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  margin: 0px;
}

section header {
  font-family: monospace;
  margin: 0px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}

header .primary {
}

header .secondary {
  font-size: 20px;
  clear: right;
  display: block;
  margin-left: 60px;
}

section main {
  margin-left: 15px;  
}

main .btn {
  padding: 0.5em;
  text-decoration: none;
  border-width: 0px;
  color: black;
  margin: 5px;
  font-size: 17px;
  text-align: center;
  display: block;
}

main div.btn {
  background-color: #E6E6E6;
}

main a.btn {
  background-color: #B6FFB9;
}

main a.btn:hover {
  background-color: #9BFF9F;
  text-decoration: none;
}

.btn span {
  display: block;
  margin-bottom: 5px;
}

.btn span.small {
  font-size: 80%;
}

.btn span:last-child {
  margin-bottom: 0px !important;
}

main p.important {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.important span.primary {
  font-size: 130%;
}

p.important span.secondary {
  font-size: 110%;
  font-style: oblique;
  display: block;
  color: #4A4A4A;
}

.wrapper-2 {
  padding: 0px;
  overflow: hidden;
}

.wrapper-2 .column {
  width: 50%;
  float: left;
}

.wrapper-3 {
  padding: 0px;
  overflow: hidden;
}

.wrapper-3 .column {
  width: 33.33%;
  float: left;
}

p.code {
  padding: 10px;
  background-color: black;
  color: white;
  font-family: monospace;
  white-space: pre;
  display: block;
}

main img {
  width: 65%;
  margin: auto;
  display: block;
}

main img.big {
  width: 90%;
}


