body {
  font-family: sans-serif; 
  padding: 0px; margin: 0px;
  background-color: #B9CDFE
}

#outer-contents {
  max-width: 1000px;
  margin: auto;
}

#contents {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  padding: 20px;
  min-height: 750px;
}

#page-title {
  padding-top: 10px;
  padding-bottom: 10px;
  
  text-align: center;
  font-size: 30px;
  color: #3C3C3C;
  font-family: monospace;
}

#page-title .accent {
  color: #8D0404;
}

#contents p {
  margin-top: 0px;
  margin-bottom: 10px;
}

#contents .row {
  margin-bottom: 20px;
}

