#nav {
  background-color: #212121;
  color: white;
  overflow: hidden;
}

#nav #leftside {
  float: left;
  font-family: monospace;
}

#nav #text {
  padding: 20px;
  padding-right: 40px;
}

#nav #title {
  font-size: 45px;
}

#nav .title-accent {
  color: #93A7FF;
}

#nav #desc {
  font-size: 14px;
  margin-left: 120px;
  margin-top: 7px;
}

#nav #rightside {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

#nav #links {
  padding: 20px;
  background-color: #2D2D2D
}

#links .link {
  border: solid black 1px;
  display: inline-block;
  color: white;
  background-color: grey;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
} 

#links .link:hover {
  background-color: #BDBDBD;
  text-decoration: none;
}

#links .link:focus {
  border: solid black 1px;
}
