#nav {
  color: white;
  overflow: hidden;
}

#nav #leftside {
  float: left;
  font-family: monospace;
}

#nav #text {
  margin: 20px;
  margin-right: 40px;
  height: 65px;
}

#nav #title {
  font-size: 45px;
}

#nav .title-accent {
  color: #93A7FF;
}

#nav #desc {
  font-size: 14px;
  margin-left: 120px;
  margin-top: 7px;
}

#nav #rightside {
  overflow: hidden;
  margin-top: 30px;
  min-width: 564px;
}

#nav #links {
  background-color: rgba(255, 255, 255, 0.24);
}

#links .link {
  border: none !important;
  display: inline-block;
  color: black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
} 

#links .link:hover {
  background-color: #BDBDBD;
  text-decoration: none;
}

#links .link:focus {
  border: solid black 1px;
}
