#nav {
  color: white;
  overflow: hidden;
}

#nav #leftside {
  float: left;
  font-family: monospace;
}

#nav #text {
  margin: 20px;
  margin-right: 40px;
  height: 65px;
}

#nav #title {
  font-size: 45px;
}

#nav .title-accent {
  color: #93A7FF;
}

#nav #desc {
  font-size: 14px;
  margin: 0px;
  margin-left: 120px;
}

#nav #rightside {
  overflow: hidden;
  margin-top: 39px;
  min-width: 344px;
}

#nav #links {
  border: solid;
  border-width: 0px; border-top-width: 5px;
  border-color: #FFF056;
  overflow: hidden;
}

#links .link {
  border: none !important;
  background-color: rgba(255, 255, 255, 0.24);
  display: block;
  float: left;
  color: black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 17px;
  flex: none;
} 

#links #fill {
  flex: auto;
}

#links .link:hover {
  background-color: #BDBDBD;
  text-decoration: none;
}

#links .link:focus {
  border: solid black 1px;
}
