body {
  font-family: sans-serif; 
  padding: 0px; margin: 0px;
  background-color: #B9CDFE
}

/* nav */

#nav {
  background-color: #212121;
  color: white;
  overflow: hidden;
}

#nav #leftside {
  float: left;
  font-family: monospace;
}

#nav #text {
  padding: 20px;
}

#nav #title {
  font-size: 45px;
}

#nav #desc {
  font-size: 14px;
  margin-left: 100px;
  margin-top: 5px;
}

#nav #rightside {
  overflow: hidden;
}

#nav #links {
  padding: 20px;
  margin-top:15px;
  margin-bottom:15px;
  background-color: #2D2D2D
}

#links .link {
  border: solid black 1px;
  display: inline-block;
  color: white;
  background-color: grey;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
} 

#links .link:hover {
  background-color: #BDBDBD;
  text-decoration: none;
}

#links .link:focus {
  border: solid black 1px;
}
 

/* contents */

#outer-contents {
  max-width: 1000px;
  margin: auto;
}

#contents {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  padding: 20px;
}

.testrect {
  height: 100px;
  width: 100%;
  background-color: red;
}
